/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

body {
    /*background: hsl(0, 0%, 90%);*/
}

.content {
    padding: 0;
}

@media screen and (min-width: 36em) {
    .content {
        padding: 2em;
    }
    .single .content .post{
        max-width: 38em;
        margin: 0 auto;
    }
}
